###
 # Specifies Python packages (and package versions) to install in order to run project.
 #
 # Execute via "pip install -r requirements.txt" while in the base project directory.
 ##


# Python SDL2 library dependencies.
PySDL2~=0.9.9
pysdl2-dll~=2.0.16

# System font-parsing dependencies.
fclist~=1.1.1
# fclist-cffi~=1.1.2        # Use this instead if you get a fclist error when running pip install.

# Graph datastructure library.
networkx~=2.6.3
